<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Pagina Web</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/inicio" class="nav-link" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="/nosotros" class="nav-link">Nosotros</a></li>
            <li class="nav-item"><a href="/servicios" class="nav-link">Servicios</a></li>
            <li class="nav-item"><a href="/contactenos" class="nav-link">Contactenos</a></li>
            <li class="nav-item"><a href="/sistemas/login" class="nav-link active" aria-current="page">Login</a></li>
        </ul>
    </header>
</div>