<div class="row">
    <div class="col-md-2"><br></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center"><b>ACCESO AL SISTEMA</b></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <!-- login.component.html -->
        <form (submit)="login()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">USUARIO</label>
              <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="email" name="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">CONTRASEÑA</label>
              <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
          
          <!-- Asegúrate de que este div esté presente en tu plantilla login.component.html -->
<div *ngIf="message" class="success-message">{{ message }}</div>

          
  
          
    </div>
    <div class="col-md-4"></div>
</div>
